<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores - Biblioteca</title>
    <link rel="stylesheet" href="/static/css/autores.css">
    
</head>

<body>
    <!--Menu do site-->
    <header>
        <h1>Biblioteca</h1> <!--Título-->
        <nav> <!--Listagem de páginas do menu-->
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/livros" class="nav-link">Livros</a></li>
                <li class="nav-item"><a href="/autores" class="nav-link">Autores</a></li>
                <li class="nav-item"><a href="/cadastro" class="nav-link">Cadastro</a></li>
            </ul>
        </nav>
    </header>

    <!--Listagem de Autores-->
    <main>
        <h2>Autores</h2>
        <section class="autores"> 

            <article class="article"> <!--A cada <article> um novo autor é listado, para listar um autor basta criar um <article> nos moldes deste-->
                <img src="/static/img/Autores/jkrow.webp" alt="Autor 1" class="article-img" height="160"> <!--O tamanho das imagens deve ser sempre height="160"-->
                <div>
                    <h3 class="article-title">J.K. Rowling</h3> <!--Nome do Autor, abaixo do nome do autor, no <p>,está uma breve descrição sobre o autor-->
                    <p class="article-description">A escritora britânica Joanne Kathleen Rowling nasceu na cidade de Yate, nas proximidades de Bristol, na Inglaterra, em 31 de julho de 1965. Ela se tornaria célebre pela criação do bruxinho Harry Potter, que lhe renderia sete volumes de uma série premiada e aceita quase unanimemente pela crítica e pelo público.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/Rick_Riordan.webp" alt="Autor 2" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Rick Riordan</h3>
                    <p class="article-description">Richard Russell Riordan Jr., mais conhecido como Rick Riordan, é um escritor norte-americano, mais conhecido por escrever a série Percy Jackson e Os Olimpianos de 2005 a 2009. Ele também escreveu a série adulta de mistérios Tres Navarre em 1997.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/matthew.jpg" alt="Autor 3" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Matthew Barrett</h3>
                    <p class="article-description">Matthew Barrett é professor de Teologia Cristã no Midwestern Baptist Theological Seminary. Ele também é o fundador e editor-chefe da Credo Magazine, uma publicação que recupera a teologia clássica com o objetivo de cultivar a reforma na igreja hoje. Ele é o apresentador do podcast Credo e diretor do Centro de Teologia Clássica, que organiza uma palestra anual na noite anterior ao ETS.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/akira.avif" alt="Autor 4" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Akira Toriyama</h3>
                    <p class="article-description">Akira Toriyama (鳥山 明) foi um autor japonês de mangá, conhecido por ser o criador de séries como Dragon Ball e Dr. Slump. Toriyama é considerado um dos autores que mudou a história dos mangás ao lado de Osamu Tezuka e Rumiko Takahashi, pois suas obras são altamente influentes e populares, principalmente Dragon Ball, que muitos artistas de mangá citam como fonte de inspiração.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/tsugumi.jpg" alt="Autor 5" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Tsugumi Ohba</h3>
                    <p class="article-description">Tsugumi Ohba ganhou notoriedade ao escrever Death Note, mangá em que também trabalhou ao lado do desenhista Takeshi Obata. Seus dados pessoais são mantidos confidenciais, mas segundo o seu perfil oficial, ele tem o costume de colecionar xícaras de chá e sentar-se com os pés sobre a cadeira enquanto trabalha, assim como L, o detetive de Death Note. Na verdade, acredita-se que seu nome seja apenas um pseudônimo de algum autor famoso de mangás</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/gege.webp" alt="Autor 6" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Gege Akutami</h3>
                    <p class="article-description">Gege Akutami é um artista de mangá japonês, conhecido por seu trabalho Jujutsu Kaisen. Gege Akutami é um pseudônimo e o nome verdadeiro do autor é desconhecido.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/andrzej.jpg" alt="Autor 7" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Andrzej Sapkowski</h3>
                    <p class="article-description">Andrzej Sapkowski, nascido em 21 de junho de 1948 é um escritor de fantasia polonês e ex-economista. Ele é mais conhecido por sua série de livros best-sellers The Witcher. Em 2012 Sapkowski foi agraciado com a Medalha de Mérito à Cultura – Gloria Artis.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/tolkien.jpg" alt="Autor 8" class="article-img" height="160">
                <div>
                    <h3 class="article-title">John Ronald Reuel Tolkien</h3>
                    <p class="article-description">J.R.R. Tolkien nasceu em 3 de janeiro de 1892. Depois de servir na Primeira Guerra Mundial, tornou-se mais conhecido por O Hobbit e O Senhor dos Anéis, vendendo 150 milhões de cópias em mais de 40 idiomas em todo o mundo. Premiado com o CBE e um Doutorado Honorário em Letras da Universidade de Oxford, ele morreu em 1973, aos 81 anos.</p>
                </div>
            </article>
    </main>

    <footer>
        <p>&copy; 2024 Biblioteca. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
