<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/static/css/index.css">
    
</head>

<body>
    <!--Menu do site-->
    <header class="header">
        <h1 class="header-title">Biblioteca</h1> <!--Título-->
        <nav class="nav">  <!--Listagem de páginas do menu-->
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/livros" class="nav-link">Livros</a></li>
                <li class="nav-item"><a href="/autores" class="nav-link">Autores</a></li>
                <li class="nav-item"><a href="/cadastro" class="nav-link">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <!--Título e descrição do site-->
    <main class="main">
        <section class="destaque">
            <h2 class="section-title">Bem-vindo à sua Biblioteca</h2>
            <p>Explore sua coleção de livros</p>
        </section>
        
        <!--Sessão Em-Breve-->
        <section class="Em-Breve">
            <h2 class="section-title">Em Breve</h2>
                <div>
                    <p class="article-description">Aqui estão livros que, a partir do próximo mês, estarão disponíveis para compra em nossa Biblioteca.</p>
                </div>
                
            <article class="article">
                <img src="/static/img/Judô/judo.jpg" alt="Livro 1" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Judô Kodokan</h3>
                    <p class="article-description">Esse livro, da autoria do criador do Judô Kodokan, é o guia mais abrangente e abalizado já escrito sobre essa arte marcial. Mais de cem anos atrás, Jigoro Kano dominava a arte do manejo da espada e do combate sem armas. Sem conseguir encontrar nenhum princípio por trás dessas técnicas, ele se dispôs a criar uma nova arte marcial que refletisse o conceito de eficiência máxima no uso da energia física e mental. Os conceitos e técnicas de judô ensinados hoje em dia na Kodokan são os originalmente criados por Jigoro Kano e foram todos reunidos nesse livro. Abrangendo desde as técnicas básicas até os exercícios formais pré-estabelecidos para homens e mulheres, Judô Kodokan oferece explicações detalhadas de como as técnicas são combinadas em dois tipos de prática: randori e kata.</p>
                    <p>Autor: Jigoro Kano</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Mangás/berserk3.jpg" alt="Livro 2" class="article-img" height="160">
                <div>
                    <h3 class="article-title">Berserk</h3>
                    <p class="article-description">O misterioso Guts, o "Espadachim Negro", carrega em sua mão mecânica uma enorme espada, e em seu pescoço uma estranha marca que atrai forças demoníacas. Em sua busca por vingança contra um antigo inimigo, nem tudo sai a seu favor, e ele recebe ajuda de uma fantástica criatura.</p>
                    <p>Autor: Kentarō Miura</p>
                </div>
            </article> 
        </section>
        
        <!--Sessão Autores Em Alta-->
        <section class="autores-em-alta">
            <h2 class="section-title">Autores Em Alta</h2>
            <article class="article">
                <img src="/static/img/Autores/andrzej.jpg" alt="Autor 1" class="article-img" height="160">
                <div>
                    <h3 class="article-title"> Andrzej Sapkowski</h3>
                    <p class="article-description">Andrzej Sapkowski, nascido em 21 de junho de 1948 é um escritor de fantasia polonês e ex-economista. Ele é mais conhecido por sua série de livros best-sellers The Witcher. Em 2012 Sapkowski foi agraciado com a Medalha de Mérito à Cultura – Gloria Artis.</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Autores/tolkien.jpg" alt="Autor 2" class="article-img" height="160">
                <div>
                    <h3 class="article-title">John Ronald Reuel Tolkien</h3>
                    <p class="article-description">J.R.R. Tolkien nasceu em 3 de janeiro de 1892. Depois de servir na Primeira Guerra Mundial, tornou-se mais conhecido por O Hobbit e O Senhor dos Anéis, vendendo 150 milhões de cópias em mais de 40 idiomas em todo o mundo. Premiado com o CBE e um Doutorado Honorário em Letras da Universidade de Oxford, ele morreu em 1973, aos 81 anos.</p>
                </div>
            </article>

        <!--Sessão Recomendados-->  
        <section class="recomendações">
            <h2 class="section-title">Recomendações</h2>
            <article class="article">
                <img src="/static/img/TheWitcher/oultimodesejo.jpg" alt="Livro 1" class="article-img" height="160">
                <div>
                    <h3 class="article-title">O Último Desejo | The Witcher</h3>
                    <p class="article-description">Geralt de Rívia é um bruxo sagaz e habilidoso. Um assassino impiedoso e de sangue-frio treinado, desde a infância, para caçar e eliminar monstros. Seu único objetivo: destruir as criaturas do mal que assolam o mundo. Um mundo fantástico criado por Sapkowski com claras influências da mitologia eslava.</p>
                    <p>Autor: Andrzej Sapkowski</p>
                </div>
            </article>

            <article class="article">
                <img src="/static/img/Tolkien/SA1.jpg" alt="Livro 2" class="article-img" height="160">
                <div>
                    <h3 class="article-title">A Sociedade Do Ael | O Senhor Dos Anéis</h3>
                    <p class="article-description">A Sociedade do Anel começa no Condado, a região rural do oeste da Terra-média onde vivem os diminutos e pacatos hobbits. Bilbo Bolseiro, um dos raros aventureiros desse povo, cujas peripécias foram contadas em O Hobbit, resolve ir embora do Condado e deixa sua considerável herança nas mãos de seu jovem parente Frodo.</p>
                    <p>Autor: J.R.R Tolkien</p>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <p class="footer-text">&copy; 2024 Biblioteca. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
