/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para o conteúdo principal página de Cadastro */
main {
    padding: 2rem;
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
}

form input[type="submit"],
.login-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1rem;
}

form input[type="submit"]:hover,
.login-btn:hover {
    background-color: #0056b3;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

/* Estilos para o rodapé */
footer {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

