/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Estilos para o cabeçalho */
header {
        background-color: #007bff;
        color: #fff;
        padding: 1rem;
        }

header h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        }

nav ul {
        list-style-type: none;
        }

nav ul li {
        display: inline;
        margin-right: 1rem;
        }

nav ul li a {
            color: #fff;
            text-decoration: none;
        }

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    }

/* Estilos para o conteúdo principal */
/* Estilos para a página de Autores */
main {
        padding: 2rem;
        }
    
main h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            }

.destaque {
        margin-bottom: 2rem;
        }

.section-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

.article {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        }

.article-img {
            margin-right: 1rem;
        }

.article-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        }

.article-description {
            margin-bottom: 1rem;
        }

.article-link {
            color: #007bff;
            text-decoration: none;
        }


/* Estilos para o rodapé */
footer {
        background-color: #007bff;
        color: #fff;
        padding: 1rem;
        text-align: center;
        }

footer p {
        margin-bottom: 0;
        }


